:root
{
    --containerWidth: 1100px;
    --containerIndents: 40px;
}

._container
{
    max-width: calc(var(--containerWidth) + var(--containerIndents) * 2);
    margin: 0 auto;
    padding: 0 var(--containerIndents);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
._bold
{
    font-weight: 700;
}

.header
{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100vw;
}

.logo
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.menu__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.burger
{
    display: none;

    margin-left: auto;
}

.dropdown
{
    position: relative;

    cursor: pointer;
}

.dropdown__title
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.dropdown__title *
{
    color: blue-color;
}

.dropdown__wrapper
{
    overflow: hidden;
}

.dropdown__item,
.dropdown__content
{
    margin-top: -100vh;
}

.dropdown._abs .dropdown__wrapper
{
    position: absolute;
}

.dropdown._open .dropdown__content
{
    margin-top: 0;
}

.dropdown._open .dropdown__title_icon
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.file
{
    position: relative;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.file input
{
    position: absolute;
    z-index: -1;

    display: block;

    width: 0;
    height: 0;

    opacity: 0;
}

.file label
{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;

    color: $color-red;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.file label::before
{
    font-size: 20px;
    line-height: 32px;

    margin-right: 16px;

    content: '+';
}

.file__close
{
    font-size: 16px;

    margin-left: 16px;

    color: inherit;
}

.checkbox
{
    position: relative;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.checkbox input
{
    display: none;
}

.checkbox label
{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.checkbox label::before
{
    width: 24px;
    min-width: 24px;
    height: 24px;
    max-height: 24px;
    margin-right: 20px;

    content: '';
    cursor: pointer;
    -webkit-transition: .2s;
            transition: .2s;

    border: 1px solid #e4e4e5;
}

.checkbox label::after
{
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;

    width: 16px;
    min-width: 16px;
    height: 16px;
    max-height: 16px;

    content: '';
    cursor: pointer;
    -webkit-transition: .2s;
            transition: .2s;

    background-color: rgba(0,0,0,.1);
}

.checkbox input:checked + label::after
{
    background-color: #f00;
}

.checkbox input:checked + label::before
{
    border: 1px solid #f00;
}

.checkbox._error label::before
{
    border: 1px solid #f00;
}

.modal
{
    position: fixed;
    z-index: -1;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100vw;
    height: 100vh;

    opacity: 0;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal._open
{
    z-index: 3;

    opacity: 1;
}

.modal__window
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.lock
{
    overflow: hidden;

    -ms-touch-action: none;
        touch-action: none;
}

@-webkit-keyframes fade
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@keyframes fade
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@media (max-width: 768px)
{
    .menu
    {
        position: fixed;
        left: -100%;
    }

    .menu__list
    {
            flex-direction: column;

        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .menu._active
    {
        left: 0;
    }

    .burger
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        height: var(--height);

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        --width: 44px;
        --height: 30px;
        --heightItem: 1px;
    }

    .burger::before,
    .burger div,
    .burger::after
    {
        width: var(--width);
        height: var(--heightItem);

        content: '';
        -webkit-transition: margin .2s ease .2s, width .2s, -webkit-transform .2s;
                transition: margin .2s ease .2s, width .2s, -webkit-transform .2s;
                transition: margin .2s ease .2s, transform .2s, width .2s;
                transition: margin .2s ease .2s, transform .2s, width .2s, -webkit-transform .2s;

        background: #000;
    }

    .burger::before
    {
        margin: 0 0 calc((var(--height) - var(--heightItem) * 3) / 2) 0;
    }

    .burger::after
    {
        margin: calc((var(--height) - var(--heightItem) * 3) / 2) 0 0 0;
    }

    .burger._active::before,
    .burger._active div,
    .burger._active::after
    {
        -webkit-transition: margin .2s ease 0s, -webkit-transform .2s ease .2s;
                transition: margin .2s ease 0s, -webkit-transform .2s ease .2s;
                transition: margin .2s ease 0s, transform .2s ease .2s;
                transition: margin .2s ease 0s, transform .2s ease .2s, -webkit-transform .2s ease .2s;
    }

    .burger._active::before
    {
        margin: 0 0 calc(-1 * var(--heightItem)) 0;

        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    .burger._active div
    {
        -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
                transform: rotate(135deg);
    }

    .burger._active::after
    {
        width: 0;
        margin: calc(-1 * var(--heightItem)) 0 0 0;
    }
}

@media (max-width: 480px)
{
    :root
    {
        --containerIndents: 24px;
    }
}
@supports (-webkit-appearance:none)
{
}

@media (max-width: 768px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 480px)
{
    @supports (-webkit-appearance:none)
    {
    }
}
